@{
    Layout = "_LayoutAdmin";
}

<form method="post">
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">MovieName</label>
        <input class="form-control" required name="MovieName" placeholder="MovieName" rows="3">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Director</label>
        <input class="form-control" required name="Director" placeholder="Director" rows="3">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Summary</label>
        <input class="form-control" required name="Summary" placeholder="Summary" rows="3">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Slug</label>
        <input class="form-control" required name="Slug" placeholder="Slug" rows="3">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">UserID</label>
        <input class="form-control" required name="UserID" placeholder="UserID" rows="3">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">MovieMinute</label>
        <input class="form-control" required name="MovieMinute" placeholder="MovieMinute" rows="3">
    </div>
     <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" name="Content" id="default" placeholder="Content" rows="3"></textarea>
        </div>


    <input type="submit" value="Ekle">
</form>
