@{
    Layout = "_LightLayout";
}

<form action="#" class="nk-form">
    <textarea class="form-control" name="comment" rows="1" placeholder="Comment"></textarea>
    <input type="text" class="form-control" name="name" placeholder="Your Name">
    <input type="email" class="form-control" name="email" placeholder="Your Email">
    <button class="nk-form-btn text-main">Reply</button>
</form>