@{
    ViewData["Title"] = "Mailini Onayla.";
}

<div class="nk-main active" id="nk-main" data-transition-speed="500" data-transition-in="bottom" data-transition-out="right">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-vertical-top">

                <div>
                    <h3 class="text-main">Mailini Onayla</h3>
                    <form asp-action="mailconfirm" asp-controller="login" class="nk-form">
                        <input type="email" class="form-control" name="Mail" placeholder="Email">
                        <input type="text" class="form-control" name="MailCode" placeholder="Onay Kodu">
                        <p>@ViewBag.MailConfirmed</p>
                        <button class="nk-form-btn text-main">Gönder</button>
                    </form>
                    <div class="nk-gap-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="nk-layout">
        <div class="nk-layout-bottom-right-rotated">
        </div>
    </div>
</div>
<div class="nk-main-bg"></div>

<div class="nk-blog" id="nk-blog">
</div>
