@{
    ViewData["Title"] = "Şifreyi Yenile.";
}

<div class="nk-main active" id="nk-main" data-transition-speed="500" data-transition-in="bottom" data-transition-out="right">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-vertical-top">
                <div>
                    <h3 class="text-main">Şifreni Yenile</h3>
                    <form asp-action="resetpassword" asp-controller="login" class="nk-form">
                        <input type="email" class="form-control" name="Email" placeholder="Email">
                        <input type="text" class="form-control" name="Password" placeholder="Password">
                        <input type="text" class="form-control" name="Mail_Code" placeholder="Doğrulama Kodu">
                        <p>@ViewBag.Forget</p>
                        <button class="nk-form-btn text-main">Şifreni Yenile</button>
                    </form>
                    <div class="nk-gap-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>