<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Admin Panel</h3>
        <a href="#" class="w3-bar-item w3-button">Anasayfa</a>
        <a href="#" class="w3-bar-item w3-button btn-info">Siteye Git</a>
        <a href="#" class="w3-bar-item w3-button btn-danger">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>Sitenin Adı</h1>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>

