@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Umbrella. | 404 </title>
    <link rel="icon" type="image/png" href="assets/images/favicon.jpg">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700" rel="stylesheet">

    <!-- Bootstrap Custom -->
    <link rel="stylesheet" href="/assets/css/bootstrap-custom.min.css">

    <!-- Umbrella -->
    <link rel="stylesheet" href="/assets/css/umbrella.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="assets/bower_components/jquery/dist/jquery.min.js"></script>

</head>

<body>

    <div class="nk-layout">


        <div class="nk-slider nk-slider-hide-titles" data-active-category="hata" data-transition-speed="500" data-transition-effect="fade" data-category-transition-speed="500" data-category-transition-effect="top" data-autoplay="false" data-force-reload="fade">

            <div class="nk-slider-item active" data-categories="hata" data-background-position="50% 20%">
                <img src="https://playtusu.com/wp-content/uploads/2017/06/sherlock-s4-e3-preview-1920x1080.jpg" alt="">
            </div>
        </div>

        <div class="nk-layout-bottom-right">
            <div class="nk-slider-nav nk-slider-nav-slim">
                <ul>
                </ul>
                <div>
                    <div class="nk-slider-nav-prev">
                        <span class="nk-icon-arrow-up"></span>
                    </div>
                    <div class="nk-slider-nav-next">
                        <span class="nk-icon-arrow-down"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="nk-layout-top-left">

            <a href="./" class="nk-nav-logo">
                <img src="assets/images/logo.png" alt="" width="133" data-logo-dark="assets/images/logo-dark.png">
            </a>

            <div class="nk-loading-spinner-place"></div>

            <div class="nk-layout-top-left-rotated">
                <nav class="nk-nav">
                    <ul>
                        <li>
                            <a href="/">Anasayfaya Dön</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="nk-layout-bottom-center">
            <nav class="nk-nav">
                <ul>
                    <li>
                        <a href="mailto:info@umbrella.com">info@umbrella.com</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nk-layout-content-tagline"><strong>12 Years of Experience</strong></div>
        <h3 class="nk-layout-content-title">404.</h3>
        <h3 class="nk-layout-content-subtitle">Sayfa Bulunamadı</h3>



    </div>

    <script src="assets/bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="assets/bower_components/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

    <script src="assets/bower_components/history.js/scripts/bundled/html4%2Bhtml5/jquery.history.js"></script>

    <script src="assets/js/bootstrap-custom.min.js"></script>

    <script src="assets/bower_components/jquery-form/jquery.form.js"></script>

    <script src="assets/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="assets/bower_components/hammer.js/hammer.min.js"></script>

    <script src="assets/bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.min.js"></script>

    <script src="assets/plugins/background-check/background-check.min.js"></script>

    <script src="~/assets/js/umbrella.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/umbrella-init.js"></script>

</body>
</html>

