@{
    ViewData["Title"] = "Blog";
}
@model List<Movie>

<div class="nk-main" id="nk-main" data-transition-speed="500" data-transition-in="bottom" data-transition-out="right">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-vertical-top">
                <div>
                </div>
            </div>
        </div>
    </div>

    <div class="nk-layout">
        <div class="nk-layout-bottom-right-rotated">
        </div>
    </div>
</div>

<div class="nk-main-bg"></div>

<div class="nk-blog active" id="nk-blog">

    @foreach (var item in Model)
    {
        <div class="nk-blog-item">

            <a href="/home/blogarticle?id=@item.Id">
                    <p>@item.MovieName</p>
                    <p>@item.Summary</p>
                </a>
        </div>
    }
</div>
