@{
    ViewData["Title"] = "Bize Ulaş.";
}

<!--
   düzenlenemcek
-->
<div class="nk-main nk-main-lower-title active" id="nk-main" data-transition-speed="500" data-transition-in="bottom" data-transition-out="right" data-color="#fff">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-vertical-center">
                <div>

                    <div class="nk-gap-1 hidden-lg-down"></div>

                    <div class="nk-item-offset">
                        <ul class="nk-social-links">
                            <li><a href="#">facebook</a></li>
                            <li><a href="#">twitter</a></li>
                        </ul>
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="display-1 text-main mt-3 mb-14">
                        @if (@ViewBag.Message != null)
                        {
                            @ViewBag.Message
                        }
                    </div>

                    <strong>Falan Filan Caddesi, Bir şeyler Sokak, Nu:3 İstanbul/Beykoz </strong>

                    <div class="nk-gap-5"></div>

                    <h3 class="h1 mb-18 mnt-10">Bir sorun mu var? Bizimle Paylaş</h3>

                    <form asp-action="Contact" asp-controller="home" method="post">
                        <div class="row vertical-gap">
                            <div class="col-md-6">
                                <input type="text" class="form-control required" name="name" placeholder="İsim">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control required" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="nk-gap-1"></div>
                        <textarea class="form-control required" name="message" rows="1" placeholder="Mesaj"></textarea>
                        <div class="nk-form-response-success"></div>
                        <div class="nk-form-response-error"></div>


                        <button class="nk-form-btn text-main" type="submit">Gönder</button>

                    </form>

                    <div class="nk-gap-2"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Right Info -->
    <div class="nk-layout">
        <div class="nk-layout-bottom-right-rotated">
        </div>
    </div>
</div>
<div class="nk-main-bg" data-bg="rgba(33, 33, 33, 0.9)" data-bg-mobile="rgb(33, 33, 33)"></div>
<!-- END: Main Page Content -->
<!--
    START: Blog

    Additional Classes:
        .active

    Note:
        If you don't want to show blog, just remove all content inside and remove .active class, but don't remove this block completely
-->
<div class="nk-blog" id="nk-blog">
</div>
<!-- END: Blog -->
