@{
    ViewData["Title"] = "Umbrella";
}


<!--
    START: Main Page Content

    Additional Classes:
        .active
        .nk-main-lower-title - title will be visible under content text

    Additional Attributes:
        data-transition-speed - transition speed in milliseconds
        data-transition-in - top, bottom, right. Show transition type
        data-transition-out - top, bottom, right. Hide transition type

    Note:
        If you don't want to show content, just remove all content inside .nano-content and inside .nk-layout and remove .active class, but don't remove this block completely
-->
<!-- Top Left Rotated -->

<div class="nk-main" id="nk-main" data-transition-speed="500" data-transition-in="bottom" data-transition-out="right">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-vertical-top">
                <div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Right Info -->
    <div class="nk-layout">
        <div class="nk-layout-bottom-right-rotated">

        </div>
    </div>
</div>
<div class="nk-main-bg"></div>
<!-- END: Main Page Content -->
<!--
    START: Blog

    Additional Classes:
        .active

    Note:
        If you don't want to show blog, just remove all content inside and remove .active class, but don't remove this block completely
-->

@*<div class="nk-layout-top-left-rotated">
    <nav class="nk-nav">
        <ul>
            <li>
                <a href="/login">Giriş Yap</a>
            </li>
            <li>
                <a href="/signup">Kayıt Ol</a>
            </li>
        </ul>
    </nav>
</div>*@

<div class="nk-blog" id="nk-blog">

</div>
<!-- END: Blog -->