@{
    ViewData["Title"] = "Team.";
}

<!--
    START: Main Page Content

    Additional Classes:
        .active
        .nk-main-lower-title - title will be visible under content text

    Additional Attributes:
        data-transition-speed - transition speed in milliseconds
        data-transition-in - top, bottom, right. Show transition type
        data-transition-out - top, bottom, right. Hide transition type

    Note:
        If you don't want to show content, just remove all content inside .nano-content and inside .nk-layout and remove .active class, but don't remove this block completely
-->
<div class="nk-main active" id="nk-main" data-transition-speed="500" data-transition-in="bottom" data-transition-out="right">
    <div class="nano">
        <div class="nano-content">
            <div class="nk-vertical-top">
                <div>

                    <div class="nk-tabs">
                        <div class="nk-item-offset">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#tabs-1-1" role="tab" data-toggle="tab">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#tabs-1-2" role="tab" data-toggle="tab">Skills</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tabs-1-1">
                                <div class="nk-gap-3 mb-9"></div>

                                <div class="row vertical-gap">
                                    <div class="col-sm-6">
                                        <h2 class="h6 mb-5">Samuel Ray</h2>
                                        <a href="#"><img src="assets/images/team-member-1.jpg" alt="Samuel Ray" class="nk-img-stretch"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <h2 class="h6 mb-5">Anita Warren</h2>
                                        <a href="#"><img src="assets/images/team-member-2.jpg" alt="Anita Warren" class="nk-img-stretch"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <h2 class="h6 mb-5">Luis Medina</h2>
                                        <a href="#"><img src="assets/images/team-member-3.jpg" alt="Luis Medina" class="nk-img-stretch"></a>
                                    </div>
                                    <div class="col-sm-6">
                                        <h2 class="h6 mb-5">Jesus Burton</h2>
                                        <a href="#"><img src="assets/images/team-member-4.jpg" alt="Jesus Burton" class="nk-img-stretch"></a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                                <div class="nk-gap-3 mb-9"></div>

                                <p><strong>Service:</strong> Every customer deserves a great shopping experience, every time. Our team’s commitment to delivering the highest levels of service is what makes us distinctive.</p>

                                <p><strong>Integrity and Trust:</strong> We are honorable and ethical in everything we do. Our reputation is built on respect for others, exemplary behavior and the trust our stakeholders place in us.</p>

                                <p><strong>Passion for Winning:</strong> We love what we do, and want to be the best at it. We strive for success by always aiming higher – not just meeting our objectives, but exceeding expectations as well.</p>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Right Info -->
    <div class="nk-layout">
        <div class="nk-layout-bottom-right-rotated">
            <strong class="text-main">+1 35 1481 527</strong>
        </div>
    </div>
</div>
<div class="nk-main-bg"></div>
<!-- END: Main Page Content -->
<!--
    START: Blog

    Additional Classes:
        .active

    Note:
        If you don't want to show blog, just remove all content inside and remove .active class, but don't remove this block completely
-->
<div class="nk-blog" id="nk-blog">

</div>
<!-- END: Blog -->